@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&family=Varela+Round&display=swap');
*{
    box-sizing: border-box;
    font-family: var(--font1);
}

:root{
    --colorp: rgb(0, 44, 23);
    --font1: 'Varela Round', sans-serif;
}

body{
    margin: 0px;
}

.menup{
    display: flex;
    flex-flow: row wrap;
    max-width: 1400px;
    margin: auto; 
}

nav{
    width: 20%;
    padding-left: 0px;
    background-color: var(--colorp);
    height: 800px;
}

nav .naveg ul{
    padding: 0px;
    list-style-type: none;
    float: right;
}

nav li{
    margin-bottom: 0px;
}

nav a{
    text-decoration: none;
    color: rgb(231, 231, 231);
    font-weight: bold;
    display: inline-block;
    padding: 15px;
    border-radius: 7px 0px 0px 7px;
    margin-bottom: 8px;
    font-size: 0.8em;
    padding-right: 80px;
    transition-duration: 0.7s;
    width: 100%;
}

.naveg{
    float: right;
    width: 100%;
}

nav a:hover{
    background-color: white;
    color: rgb(37, 37, 37);
}

.principal{
    width:  80%;
    background-color:  rgb(255, 255, 255);
    padding: 20px;
}

.boxdad{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.boxdad .boxun10{
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    height: 210px;
    width: 24%;
    border-radius: 10px;
    transition: 0.7s;
    margin: 0px;
}


.boxdad .boxun10:hover{
    transform: translate(-7px, -8px);
    box-shadow: 5px 5px 0px rgb(0, 73, 0);
}
.boxun10 .top{
    height: 26%;
    background-image: url('—Pngtree—trendy\ dark\ green\ geometric\ line_1293555.png');
    background-size: 33%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin: 0px; 
}

.boxun10 .bottom{
    height: 74%;
    width: 100%;
    background-color: rgb(240, 240, 240);
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}

.bottom h2{
    font-size: 1em;
    padding: 0px;
    margin: 0px;
    color: rgb(14, 56, 14);
    border-bottom: 2px solid rgb(10, 53, 10);
    padding-bottom: 5px;
}
.bottom p{
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: justify;
}

.ftp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
}

.imgf{
    width: 100%;
    margin-bottom: 30px;
    height: 240px;
    background-color: rgba(75, 75, 75, 0.507);
    border-radius: 15px;
    background-image: url('ifce-campus-maracanaues.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 1.0;
    padding: 30px;
    border-left: 5px solid var(--colorp);
    border-right: 5px solid var(--colorp);
    border-bottom: 8px solid var(--colorp);
    transition-duration: 0.3s;
}

.imgf h3{
    font-size: 1.7em;
    color: rgb(255, 255, 255);   
}

.imgf p{
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-weight: bold;
}

.imgf button{
    padding: 12px 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0);
    color: white;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.7s;
    font-size: 0.7em;
} 

.imgf button:hover{
    background-color: rgb(251, 251, 251);
    color: black;
}

.imgf button:active{
    transform: scale(0.7, 0.7);
}

.line{
    width: 100px;
    height: 5px;
    background-color: rgb(0, 44, 23);
    border-radius: 20px;
    margin-bottom: 30px;
}

.principal header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

header input[type='search'] {
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    border: 1px solid #ccc;
    color: rgb(131, 127, 127);
    transition-duration: 0.7s;
    font-size: 0.8em;
}

header input[type='search']:focus{
    background-color: var(--colorp);
    color: white;
}

header input[type='search']:hover{
    width: 250px;
}

footer{
    padding: 30px;
    background-color: var(--colorp);
    border-top: 2px solid white;
}

footer p{
    width: 90%;
    color: rgb(184, 184, 184);
    line-height: 1.5em;
    font-size: 0.8em;
    margin: auto;
    text-align: justify;
}

.fter{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.fter ul{
    list-style-type: none;
    padding: 0px;
}

.fter li a{
    color: rgb(160, 160, 160);
    display: block;
    padding: 5px;
    font-size: 0.9em;
}

.fter li a:hover{
    color: rgb(116, 116, 116);
}

.fa-solid{
    color: rgb(255, 255, 255);
    display: inline;
    font-size: 15px;
    margin: 0px 12px;
    transition: 0.7s;
}

.boxun10 .fa-arrow-right-long{
    color: var(--colorp);
    font-size: 0.5em;
    margin: 5px;
}

.bottom .p2{
    text-align: center;
    font-weight: bold;
    color: var(--colorp);
    font-size: 0.7em;
    transition: 0.7s;
}
.bottom a{
   text-decoration: none;
   transition: 0.7s;
}

.bottom a:hover{
    text-decoration: underline;
    color:rgb(0, 44, 23);
}

.search .fa-magnifying-glass{
    color: #ccc;
}
.search .fa-magnifying-glass:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.search .fa-magnifying-glass:active{
    text-shadow: 0px 0px 5px #ccc;
}

nav a:hover .fa-solid{
    color: black;
    text-shadow: 2px 2px 2px #ccc;
}
   
.image{
    width: 100%;
    height: 100px;
    position: relative;
}

.image img{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

@media (max-width: 850px){
    .boxun{
        flex: 40%;
        margin: 10px;
    }

    .boxun:hover{
        flex: 45%;
    }

    nav .image{
        margin-bottom: 40px;
    }

    nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 550px;
        padding: 12px;
    }

    nav .naveg{
        width: 100%;
    }

    nav .naveg ul {
        padding: 0px;
        margin: 0px;
        list-style-type: none;
    }

    nav .naveg ul li{
       width: 47%;
       float: left;
       margin: 5px;
    }

    nav .naveg ul li a{
        display: inline-block;
        padding-right: 0px;
        border-radius: 5px; 
    }

    .principal{
        width: 100%;
    }

    .principal .imgf{
        height: 150px;
        background-size: 100%;
        padding: 10px;
        background-repeat: repeat-y;
    }

    .principal .imgf h3{
        font-size: 1.0em;
    }

    .principal .imgf p{
        margin-bottom: 10px;
        font-size: 0.8em;
    }

    .principal .imgf button{
        padding: 8px 10px;
    }

    nav .image{
        border-bottom: 1px solid white;
        padding-bottom: 30px;
        height: 120px;            
    }

    .boxdad .boxun10{
        width: 90%;
        height: 175px;
        margin-bottom: 15px;
    }

    header input[type='search']{
        width: 130px;
    }
    
    header input[type='search']:hover{
        width: 190px;
    }

}